.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-item::after{ content: '';
  width: 0%;
  height: 3px;
  background:rgb(219, 216, 216) /*#1b7ddf; */;
  display: block;
  margin: auto;
  transition: 0.5s; }



  .nav-item:hover::after {
  width: 100%;
}
.nav-item .nav-link{color: #e7e7e7!important;}

.nav-item .nav-link:hover{color: #928b8b!important;cursor: pointer;}